{
    "env": {
        "es2021": true,
        "node": true
    },
    "extends": [
        "plugin:react/recommended",
        "eslint:recommended", 
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "root": true,
    "overrides": [
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
          },
        "project": ["./tsconfig.json"],
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "react-native",
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/no-empty-function": 0,
    "prettier/prettier": "error",
    "no-console": ["error", { "allow": ["tron"] }],
    "import/extensions": "off",
    "react-native/no-inline-styles": 2,
    "react-native/no-raw-text": 0,
    "react/display-name": 0,
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "react/prop-types": 0
    }
}
